@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: sans-serif;
}

.react-loading-skeleton {
  background-color: #f0f0f0;
}

.react-loading-skeleton {
  border-radius: 4px; 
}

.react-loading-skeleton {
  margin: 10px; /* Replace with your desired margin value */
}

/* Change the width and height of the skeleton element */
.react-loading-skeleton {
  width: 100%; /* Replace with your desired width value */
  height: 40px; /* Replace with your desired height value */
}

/* Change the animation duration of the skeleton effect */
.react-loading-skeleton {
  animation-duration: 1s; /* Replace with your desired animation duration value */
}

/* Change the animation timing function of the skeleton effect */
.react-loading-skeleton {
  animation-timing-function: linear; /* Replace with your desired timing function value */
}

/* skeleton.css */
.skeleton {
  /* Set the background color */
  background-color: #f0f0f0;
}

/* Additional styles for the skeleton component */
/* You can customize these styles as needed */
.skeleton-line {
  /* Custom styles for skeleton lines */
}

.skeleton-circle {
  /* Custom styles for skeleton circles */
}
